<!DOCTYPE html>
<html>
  <head>
    <title>One Month Rails Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <div class="container">
<nav class="navbar navbar-dark bg-inverse">
      <!-- Navigation Bar -->
      <div class="header">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Contact", "#", class: "nav-link" %></li>
            <% if user_signed_in? %>
              <li class="nav-item pull-md-right"><%= link_to "Log Out", signout_path, method: :delete, class: "nav-link" %></li>
            <% else %>
              <li class="nav-item pull-md-right"><%= link_to "Sign Up", signup_path, class: "btn btn-primary" %></li>
              <li class="nav-item pull-md-right"><%= link_to "Sign In", signin_path, class: "nav-link" %></li>
            <% end %> 

          </ul>
        </nav>
        <h3 class="text-muted">One Month Rails</h3>
      </div>
    </nav>  

      <!-- Flash Message -->

      <% flash.each do |name, message| %>
        <%= content_tag(:div, message, class: "alert alert-info #{name}") %>
      <% end %>


      <!-- Page Content -->
      <%= yield %>
      
      <!-- Footer -->
      <footer>
        <hr>
        <p>© 2022 One Month</p>
      </footer>

    </div>

  </body>
</html>
